@using Microsoft.AspNetCore.Components.Web

<h3>Static Component</h3>

<b>It will not support "RenderMode.InteractiveServer" because the project was not created solely for Blazor Server.</b>

<p>This content is rendered statically.</p>
