@using Microsoft.AspNetCore.Components.Web

@rendermode RenderMode.InteractiveWebAssembly

<h3>WebAssembly (Wasm) Component</h3>

<p>Rendered with Blazor WebAssembly.</p>

<button @onclick="Increment">Coounter: @count</button>

@code {
    int count = 0;
    void Increment() => count++;
}
