@page "/CascadingParameters"

<!-- CascadingParametersFather -->

<h3>Cascading Parameters</h3>

<CascadingValue Value="UserName">
    <CascadingParametersChild />
</CascadingValue>


@code {
    private string UserName = "Ricardo";
}
