@page "/counter-data-binding"

<h3>Counter with Data Binding</h3>

<p>Current value: @currentCount</p>

<button @onclick="IncrementCount">Increase</button>

<div class="mt-2">
    <p>
        Your name: <input @bind="userName" />
    </p>
    <p>
        Welcome, @userName!
    </p>
</div>


@code {
    private int currentCount = 0;
    private string userName = "";

    private void IncrementCount()
    {
        currentCount++;
    }
}