@page "/rendermodes"

<h2>Render Mode Demo</h2>

<!-- Static -->
<Demo2.Components.RenderModesDemo.StaticComponent />

<!-- Server  -->
<Demo2.Components.RenderModesDemo.ServerComponent />

<!-- Wasm -->
<Demo2.Components.RenderModesDemo.WasmComponent />


<!-- Auto -->
<Demo2.Components.RenderModesDemo.AutoComponent />